.container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  height: 30vh;
  gap: 20px;
}
.imageContainer {
  flex: 1;
  height: inherit;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  flex: 1;
  height: inherit;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.container .header {
  font-size: small;
}

.date {
  color: var(--softTextColor);
  font-weight: 300;
}

.category {
  text-transform: uppercase;
  color: crimson;
  font-weight: 300;
}

.details .decs {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  color: var(--softTextColor);
}

.details .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: var(--textColor);
}
.details a {
  font-weight: 700;
  text-decoration: underline;
  color: var(--softTextColor);
}

@media (max-width: 800px) {
  .details .decs {
    -webkit-line-clamp: 3;
  }

  .imageContainer img {
    width: 100vw;
    height: 250px;
  }

  .container {
    height: fit-content;
    flex-direction: column;
  }
}
