.container {
  display: flex;
  gap: 9vw;
}

.recent {
  flex: 3;
}

.popular {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
