.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.logo {
  display: flex;
  justify-content: center;

  font-weight: bold;
  flex: 1;
  font-size: 30px;
}
.social {
  display: flex;
  justify-content: left;
  gap: 10px;
  flex: 1;
}

.social img {
  width: 25px;
}
.links {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  font-size: 15px;
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .social {
    display: none;
  }

  .logo {
    justify-content: left;
  }
}
